<div class="min-h-screen bg-slate-950 text-slate-200 font-display">
    <app-navbar></app-navbar>
@if (store.state() == "loading" ) {
  <app-loading mode='fullscreen' message="{{ui().actions.loading}}"></app-loading>
}@else if(store.state() == "loaded"){
  <app-hero [stack]="stack()" [titles]="titles()" [socialLinks]="socialLinks()" ></app-hero>
  <app-about [bioData]="bioData()" [stack]="stack()" ></app-about>
  <app-experience [experience]="experience()" ></app-experience>
  <app-projects></app-projects>
  <app-contact [contactInfo]="contactInfo()" [socialLinks]="socialLinks()" ></app-contact>
}@else{
  <error-component></error-component>
}
<app-footer></app-footer>
</div>